/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Georgia", serif;
  background: #fafafa;
  color: #222;
}

/* Navbar */
header {
  background: #e6f9fa;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4a90e2;
  font-style: italic;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #4a90e2;
}

/* Gallery */
h2 {
  text-align: center;
  margin: 30px 0 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(3 auto);
  gap: 20px;
  padding: 20px 50px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  display: block;
  height: 250px;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-5px);
}
